<% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= flash[:notice] %>
    </div>
<% end %>

<div class="container full-height-container">
    <div class="panel panel-default">
        <div class="panel-heading">
        <strong>Missed calls</strong> <span class="text-muted">(Product/Number)</span></div>
        <!-- Table -->
        <table class="table">
            <tbody>
                <% @missed_calls.each do |call| %>
                    <tr>
                        <td class="col-md-4">
                                <%= call.created_at %>
                        </td>
                        <td class="col-md-8">
                            <a href="tel:<%= call.phone_number %>">
                                <i class="fa fa-phone"></i>
                                <%= call.phone_number %>
                            </a>
                        </td>

                    </tr>
                <%end %>
            </tbody>
        </table>
    </div>
</div>
