<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<h3><%= link_to "Set up forwarding numbers for incoming sales and support calls", callforward_index_path %></h3>

<%= link_to "Call tracking", calltracking_index_path %>

<%= link_to "Call forwarding", callforward_index_path %>